form{
    border: solid 1px;
    width: 600px;
    background-color: rgb(253, 137, 187);
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-left: 400px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
label{
    font-size: 25px;
    font-weight: bold;
    color: rgb(253, 230, 201);
}
input{
    width: 500px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-style: italic;
    font-size: 20px;
}
textarea{
    width: 485px;
    height: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}
h1{
    font-size: 60px;
    color: rgb(124, 254, 104);
    text-align: center;
    font-style: italic;
}
p{
    font-size: 20px;
}
button{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(56, 247, 8);
    font-size: 28px;
    outline: none;
    border: none;
}
button a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to bottom right, black,rgb(137, 137, 230));
}